[submodule "externals/lest"]
	path = externals/lest
	url = https://github.com/martinmoene/lest.git
[submodule "externals/cpp-markdown"]
	path = externals/cpp-markdown
	url = https://github.com/sevenjay/cpp-markdown.git
