/* Directives common for all viewers */

html {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding: 0.5rem;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

#top > h1 {
    position: absolute;
    margin-top: .75rem;
    top: 0;
    left: 5rem;
}

#top > h1 a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.15rem;
}

header #site-header {
    display: block;
    width: 100%;
}

#top #site-abstract {
    position: block;
    font-size: 0.8rem;
    color: gray;
}

#top #logo {
    display: inline-block;
    height: 3rem; width: 3rem;
    background-image: url('../artifacts/sun.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
}

article.ainlist {
    padding-top: 1rem;
    border-top-style: dotted;
    border-top-color: red;
    border-top-width: 0.05rem;
}

article.ainlist a {
    text-decoration: none;
    color: black
}

article.ainlist div.tags {
    font-size: 80%;
}

a.link-to-article {
    font-size: 80%;
}

article.ainlist img.tag-icon {
    height: 0.7rem;
}

.floatstop {
    clear:both;
}

footer {
    border-top-style: dotted;
    border-top-color: darkgray;
    border-top-width: 0.05rem;
    margin-top: 2rem;
    font-size: 80%;
    color: darkgray;
}

header.article div.author {
    text-align: right;
}

.author li img {
    height: 1rem;
    margin-right: 0.3rem;
    size:contain;
}

ul.social-handles li {
    display: inline;
    border-left-style: dotted;
    border-left-width: 0.05rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.author li a {
    display: inline;
    text-decoration: none;
    color: darkslategray;
    font-size: 80%;
}

ul.social-handles {
    padding-left: 1rem;
    display: inline;
    list-style-type: none;
}

section.author ul {
    display: inline;
}


pre.code {
    padding:1%;
    margin: 1%;
    border-style: dotted;
    border-color: black;
    background-color: darkslategray;
    color: white;
    border-width: 0.05rem;
    width: 96%;
    overflow-x: auto;
    margin-bottom: 2rem;
}

p.timestamp {
    text-align: right;
    font-size: 80%;
    color: darkslategray;
    padding: 0;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

article.ainlist p.timestamp {
    text-align: left;
}

#sidebar p.timestamp {
    margin-top: 3rem;
    text-align: left;
}

main article div.tags a {
    color: darkslategray;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left-style: solid;
    border-left-color: gray;
    border-left-width: 0.05rem;
}

span.tag-name {
    border-color: red;
    border-style: dotted;
    border-width: 0.05rem;
    padding: 0.1rem;
}

label.show-menu {
    display: none;
}

#menu-section input[type=checkbox]{
    display: none;
}

img.rss-logo {
    height: 0.7rem;
    width: 0.7rem;
}

a.rss {
    text-decoration: none;
    font-size: 80%;
    color: darkslategray;
}

nav.next-prev {
    font-size: 80%;
}

nav.next-prev a {
    color: darkslategray;
    padding: 0.5rem;
    margin: 0.5rem;
}

nav.next-prev img {
    height: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

section.banner {
    width: 100%
}

section.banner picture {
    width: 95%
}
