{% extends "base.html" %}

{% block content %}
  {% if show_page_title %}
  <h1>{{ page_title }}</h1>
  {% endif %}

  {% if banner_html %}
  <div class="banner">
    {{ banner_html | safe }}
  </div>
  {% endif %}

  {% if intro_html %}
  {{ intro_html | safe }}
  {% endif %}

  <h2>Articles</h2>

  {% if total_pages > 1 %}
  <div class="pager-meta">Page {{ page_no }} of {{ total_pages }}</div>
  {% endif %}

  <ul class="post-list">
  {% for item in items %}
    {% include "partials/list_item.html" %}
  {% endfor %}
  </ul>

  {% if prev_href or next_href %}
  <nav class="pager">
    {% if prev_href %}
    <a href="{{ prev_href }}">Newer</a>
    {% endif %}
    {% if next_href %}
    <a href="{{ next_href }}">Older</a>
    {% endif %}
  </nav>
  {% endif %}
{% endblock %}
